- const pagination = ["1", "2", "3", "...", "15", ""]
- const paginationLen = pagination.length - 1
- const paginationClazz = "pagination__list-item"

section.pagination
  ul.pagination__list
    each item, val in pagination
      if val === 0
        li(class=paginationClazz + " " + paginationClazz + "_first") #{item}
      else if val === paginationLen
        li(class=paginationClazz + " " + paginationClazz + "_last")
      else
        i(class=paginationClazz) #{item}
  span.pagination__text 1 – 12 из 100+ вариантов аренды