- const oneRoom = [
-   {clazz: "-one", active: true},
-   {clazz: "-two", active: false},
-   {clazz: "-three", active: false},
-   {clazz: "-four", active: false}
- ]
- const oneRoomClazz = "one-room__image_circle"

mixin one-room(data)
  article.one-room(class=data.class)
    div.one-room__image
      a(href="/room-details.html")
        img(src="/img/room-" + data.number + ".jpg", alt="image room number" + data.number)
      span.one-room__image_prev
      div.one-room__image_background.one-room__image_background-left
      span.one-room__image_next
      div.one-room__image_background.one-room__image_background-right
      each item in oneRoom
        if item.active
          span(class=oneRoomClazz + " " + oneRoomClazz + item.clazz + " " + oneRoomClazz + "-active")
        else
          span(class=oneRoomClazz + " " + oneRoomClazz + item.clazz)

    div.one-room__description
      span.one-room__description-number_icon №
      span.one-room__description-number #{data.number}
      if data.lux
        span.one-room__description-lux люкс
      span.one-room__text(class=data.classText) в сутки
      span.one-room__description-price #{data.price}₽
    div.one-room__line
    div.one-room__comments
      each val in [1, 2, 3, 4, 5]
        if val <= data.stars
          span.one-room__comments-rating.one-room__comments-rating_plus
        else
          span.one-room__comments-rating.one-room__comments-rating_minus
      span.one-room__text.one-room__text_comment(class=data.classComment) Отзывов
      span.one-room__comments-number #{data.comments}
